::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.App {
  min-width: 800;
  min-height: 400;
  text-align: center;
  background-color: #fffafa;
  height: 100vh;
  width: auto;
  overflow: hidden;
}
